.form {
    margin: 24px;

    &__group {
        margin-top: 16px;
    }

    &__date-input {

    }

    &__dropdown {

    }

    &__number-input {

    }

    &__submit {
        margin-top: 32px;
    }
}